<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>

<p><strong>Bookmarks</strong></p>
<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"><%= bookmark.movie.title %></li>
    <li class="list-group-item"><%= bookmark.comment %></li>
    <%= link_to "Delete",
    bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</li>

  <% end %>
</ul>
<br>

<p> Wanna destroy this bookmark ? </p>


<p><%= link_to "add a bookmark", new_list_bookmark_path(@list) %> </p>
<%= link_to "back to index", lists_path %>
